{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

{% block body %}

<div class="container">
   <div class="row">
      <div class="col md-12">
         <h2>Tasks List <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Add Task</button></h2>

         {%with messages = get_flashed_messages()%}
            {%if messages%}
               {% for message in messages %}
                  <div class="alert alert-success alert-dismissable" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                        <span aria-hidden="true">&times;</span>
                     </button>
               {{message}}
                  </div>
               {%endfor%}
            {%endif%}
         {%endwith%}

         <table class="table table-hover">
            <tr>
               <th>Task Id</th>
               <th>Task Content</th>
               <th>Action</th>
            </tr>

            {% for row in tasks %}

            <tr>
               <td>{{row.0}}</td>
               <td>{{row.1}}</td>
               <td>
                  <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                  <a href="/delete/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
               </td>
            </tr>
            
            <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">

                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Task</h4>
                     </div>

                     <div class="modal-body">
                        <form action="{{ url_for('update') }}" method="POST">
                           <div class="form-group">
                              <label>Task:</label>
                              <input type="hidden"  name="idtasks" value="{{row.0}}">
                              <input type="text" class="form-control" name="taskscontent" value="{{row.1}}">
                           </div>
                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Update</button>
                           </div>
                        </form>
                     </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>

            {% endfor %}
            
         </tbody>
         </table>
      
         <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
               <div class="modal-content">

                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Add Task</h4>
                  </div>

                  <div class="modal-body">
                     <form action="{{ url_for('insert') }}" method="POST">
                        <div class="form-group">
                           <label>Task:</label>
                           <input type="text" class="form-control" name="taskscontent" required="1">
                        </div>

                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                     </form>
                  </div>

                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

               </div>
            </div>
         </div>
         
      </div>
   </div>
</div>

{% endblock %}